
" .ideavimrc Configuration for IdeaVim
" Documentation and examples:
" - Commands: https://jb.gg/h38q75
" - Examples: https://jb.gg/share-ideavimrc

" Source original .vimrc for Vim configurations
source ~/.vimrc

" General Editing Behavior and Options
set number relativenumber
set scrolloff=5
set incsearch
set clipboard^=ideaput
set idearefactormode=keep
set ideajoin
set surround
set sneak

" Leader Key Definition
let mapleader = " "

" Plugin Management
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'vim-scripts/argtextobj.vim'

" NERDTree Configurations
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" IDE Action Key Mappings
nnoremap <leader>F :action FindInPath<CR>
nnoremap <leader>df :action ToggleDistractionFreeMode<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>ot :action Terminal.OpenInTerminal<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>mo :action MoveEditorToOppositeTabGroup<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <c-w> :action CloseContent<CR>

" Window Navigation (using Ctrl)
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

" Editing without Affecting Clipboard
nnoremap x
nnoremap X

" Custom Formatting and Utility Mappings
map Q gq
map <F1> [w
map <F2> [b
inoremap <C-c> <Esc>:action EditorCompleteStatement<CR>a

" vim-sneak and vim-surround Customizations
let g:surround_no_mappings= 1
" Normal mode: s and S for sneak
" Visual mode: s and S for sneak, z for surround (zurround)
xmap <S-s> <Plug>Sneak_S
xmap z <Plug>VSurround
nmap yzz <Plug>Yssurround
nmap yz  <Plug>Ysurround
nmap dz  <Plug>Dsurround
nmap cz  <Plug>Csurround
omap s <Plug>Sneak_s
omap S v<Plug>Sneak_S

